## Pandas Tutorial

If dealing with data is what you do every day, then you the hussle of manupulating a huge amout of data. In this tutorial what we are going to do is use a tool called Pandas make sense of out data

In [1]:
import pandas as pd

In [2]:
# read the csv file
pd.read_csv('./data/births.csv')

       year  month   day gender  births
0      1969      1   1.0      F    4046
1      1969      1   1.0      M    4440
2      1969      1   2.0      F    4454
3      1969      1   2.0      M    4548
4      1969      1   3.0      F    4548
5      1969      1   3.0      M    4994
6      1969      1   4.0      F    4440
7      1969      1   4.0      M    4520
8      1969      1   5.0      F    4192
9      1969      1   5.0      M    4198
10     1969      1   6.0      F    4710
11     1969      1   6.0      M    4850
12     1969      1   7.0      F    4646
13     1969      1   7.0      M    5092
14     1969      1   8.0      F    4800
15     1969      1   8.0      M    4934
16     1969      1   9.0      F    4592
17     1969      1   9.0      M    4842
18     1969      1  10.0      F    4852
19     1969      1  10.0      M    5190
20     1969      1  11.0      F    4580
21     1969      1  11.0      M    4598
22     1969      1  12.0      F    4126
23     1969      1  12.0      M    4324
24     1969      1  13.0      F    4758
25     1969      1  13.0      M    5076
26     1969      1  14.0      F    5070
27     1969      1  14.0      M    5296
28     1969      1  15.0      F    4798
29     1969      1  15.0      M    5096
...     ...    ...   ...    ...     ...
15517  2007     10   NaN      F  180912
15518  2007     10   NaN      M  189157
15519  2007     11   NaN      F  173513
15520  2007     11   NaN      M  180814
15521  2007     12   NaN      F  173787
15522  2007     12   NaN      M  181426
15523  2008      1   NaN      F  174255
15524  2008      1   NaN      M  182789
15525  2008      2   NaN      F  165669
15526  2008      2   NaN      M  173434
15527  2008      3   NaN      F  172053
15528  2008      3   NaN      M  179129
15529  2008      4   NaN      F  169585
15530  2008      4   NaN      M  177399
15531  2008      5   NaN      F  173141
15532  2008      5   NaN      M  182294
15533  2008      6   NaN      F  169958
15534  2008      6   NaN      M  179267
15535  2008      7   NaN      F  183391
15536  2008      7   NaN      M  192714
15537  2008      8   NaN      F  182713
15538  2008      8   NaN      M  191315
15539  2008      9   NaN      F  179696
15540  2008      9   NaN      M  188964
15541  2008     10   NaN      F  175314
15542  2008     10   NaN      M  183219
15543  2008     11   NaN      F  158939
15544  2008     11   NaN      M  165468
15545  2008     12   NaN      F  173215
15546  2008     12   NaN      M  181235

[15547 rows x 5 columns]

If you don't want to see the data and you can store it in a variable.

In [3]:
df = pd.read_csv('./data/births.csv')

In [9]:
# show first few data points
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [11]:
type(df)

pandas.core.frame.DataFrame

In [13]:
# show the shape of data
df.shape

(15547, 5)

In [14]:
# show columns
df.columns

Index([u'year', u'month', u'day', u'gender', u'births'], dtype='object')

If you have millions of columns then try storing it in a variable.

In [17]:
df.dtypes

year        int64
month       int64
day       float64
gender     object
births      int64
dtype: object

In [18]:
# show a particular column
df['month']

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
15517    10
15518    10
15519    11
15520    11
15521    12
15522    12
15523     1
15524     1
15525     2
15526     2
15527     3
15528     3
15529     4
15530     4
15531     5
15532     5
15533     6
15534     6
15535     7
15536     7
15537     8
15538     8
15539     9
15540     9
15541    10
15542    10
15543    11
15544    11
15545    12
15546    12
Name: month, Length: 15547, dtype: int64

In [ ]:
# create subset of columns
subset = df[['year','month']]